<div class="container-fluid">
  <div id="acercaDe" class="row justify-content-md-start">
    <div class="col-sm-2">
      <img src="../../../assets/img-home/avion-papel.jpg" class="img-fluid" width="220px">
    </div>
    <div class="col-sm-6">
        <h3>Acerca de RUMBO A</h3>
        <p>RUMBO A es una agencia de viajes con más de 20 años en el mercado operando en 20 países de Latinoamérica. Desde entonces ofrece a sus usuarios opciones de hospedaje, vuelos, seguros de viajes ypaquetes turísticos de las zonas más atractivas para viajeros en un mismo lugar.</p>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div id="galeria1" class="row">
    <div class="col-sm" *ngFor='let in of counter(4) ;let i = index'>
      <img class="img-fluid" src="../../../assets/img-home/{{i+1}}.jpg" width="190px">
  </div>
</div>
 <br>

 <div class="container-fluid">
  <div id="regalo" class="row justify-content-md-end">
    <div class="col-sm-4">
        <h1><i class="fas fa-gift"></i></h1><br>
        <p>Festeja los 20 años de </p><br> <h2>RUMBO A</h2> <p> con un </p>
        <h2>50%</h2><br><p> de descuento en tu próximo viaje</p>
    </div>
    <div class="col-sm-2">
      <img src="../../../assets/img-home/5.jpg" class="img-fluid" width="200px">
    </div>
  </div>
</div>
<br>

<div class="container">
  <div id="galeria2" class="row">
    <div class="col-sm" *ngFor='let in of counter(4) ;let i = index'>
      <img class="img-fluid" src="../../../assets/img-home/{{i+7}}.jpg" width="190px">
  </div>
</div>
 <br>

<div class="container">
  <div id="recomendaciones" class="row justify-content-md-center">
    <div class="col-sm-9">
      <h2><i class="fas fa-user-shield"></i> Recomendaciones para viajar con tranquilidad</h2>
    </div>
  </div>
  <div id="recomendaciones" class="row justify-content-md-center">
    <div class="col-sm-3">
      <h2><i class="fas fa-address-book"></i> </h2>
      <h3>Reservación flexible</h3>
      <p>Filtra por reservación flexible y garantiza la cancelación o cambio de fechas, si tus planes cambian.
      </p>
    </div>
    <div class="col-sm-3">
      <h2><i class="fas fa-map-marked-alt"></i></h2>
      <h3>Mapa de apertura de fronteras</h3>
      <p>Entérate de las condiciones de ingreso del país de tu destino.</p>
    </div>
    <div class="col-sm-3">
      <h2><i class="fas fa-pencil-ruler"></i></h2>
      <h3>Autogestión de reservas</h3>
      <p>Ingresa a Mis Viajes y gestiona todas tus reservas en un solo lugar, de forma rápida y fácil.</p>
    </div>
  </div>
</div>





