<header id="cabecera" class="container-fluid">
  <div class="text-left p-3 my-3">
    <img src="../assets/img-logos/RUMBOA.png">
    <img class="titulo" src="../assets/img-logos/rumboA-1.png">
    <img class="titulo" src="../assets/img-logos/rumboA-2.png">
    <img class="titulo" src="../assets/img-logos/rumboA-3.png">
  </div>
</header>

<nav id="menu" class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="">¡BUEN VIAJE!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" ngbDropdown>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" mat-raised-button routerLink='/home-component' routerLinkActive="active" ><i class="fas fa-home"></i> Home</a>
        <a class="nav-link" mat-raised-button routerLink='/alojamientos-component' routerLinkActive="active"><i class="fas fa-concierge-bell"></i> Alojamientos</a>
        <a class="nav-link" mat-raised-button routerLink='/vuelos-component' routerLinkActive="active"><i class="fas fa-plane"></i> Vuelos</a>
        <a class="nav-link" mat-raised-button routerLink='/paquetes-component' routerLinkActive="active"><i class="fas fa-suitcase-rolling"></i> Paquetes</a>
        <a class="nav-link" mat-raised-button routerLink='/actividades-component' routerLinkActive="active"><i class="fas fa-ticket-alt"></i> Actividades</a>
        <a class="nav-link" mat-raised-button routerLink='/seguro-viaje-component' routerLinkActive="active"><i class="fas fa-hand-holding-medical"></i> Seguro de viaje</a>
      </div>
    </div>
  </div>
</nav>

<section id="contenido" class="container">
  <div class="text-left p-3 my-3 ">
    <article>
       <router-outlet> </router-outlet>
    </article>
  </div>
</section>


<footer id="pie" class="container-fluid">
  <div class="text-left p-3 my-3">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <br>
        <a href="https://www.uaa.mx/portal/"><img src="../assets/img-logos/uaa.png" class="img-fluid"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h4>Información del proyecto</h4>
        Examen práctico del segundo parcial <br>
        Tecnologías WEB ISC 6°A <br>
        Oscar Ganzález Esparza
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h4>Redes sociales</h4>
        <br>
        <h3>
          <a href="https://es-la.facebook.com"><i class="fab fa-facebook"></i>&nbsp;</a>
          <a href="https://www.instagram.com"><i class="fab fa-instagram"></i>&nbsp;</a>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        </h3>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h4>Sobre las imágenes</h4>
        <p>Las imágenes de esta sitio fueron obtenidas de:<br>
          <a href="https://www.pexels.com"><img src="../assets/img-logos/pexels.png" class="img-fluid" width="150px" align="left"></a>
        </p>
      </div>
    </div>
  </div>
</footer>
