#filtro{
  background: #004AAD;
  color: #FFFFFF;
  box-shadow: 5px 5px 8px #888888;
  border-radius: 15px;
}
#filtro button{
  margin-right: 15px;
}
#filtro h2{
  margin: 10px 0px 0px 0px;
}
.separador{
  border: 1px solid #FFFFFF;
  margin: 0px 0px 10px 0px;
}
.cartas{
  box-shadow: 5px 5px 8px #888888;
  margin-top: 15px;
  margin-bottom: 15px;
}
.cartas button{
  margin: 0px 20px 0px 20px;
}
.cartas h5{
  display: inline;
}
